<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/kseretis/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="github">
            <package pattern="packageId" />
        </packageSource>
        <packageSource key="nuget">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <GitHubPackages>
            <add key="Username" value="kseretis" />
            <add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
        </GitHubPackages>
    </packageSourceCredentials>
</configuration>